@use "../variables.scss" as v;
@use "../mixins.scss" as m;

.extra-products {
  width: 100%;
  margin: 0 auto;

  @media (min-width: v.$desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.extra-products__headline {
  @include m.indent-reset;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  width: fit-content;
  max-width: 1420px;
  margin-bottom: 8px;
  padding: 0 20px;
  display: inline-block;
  background-color: v.$background;

  @media (min-width: v.$tablet-width) {
    line-height: 36px;
    font-size: 36px;
    max-width: calc(100% - 300px);
    padding: 0 37px;
    margin-left: 30px;
    margin-bottom: 6px;
  }

  @media (min-width: v.$desktop-width) {
    margin-left: 73px;
    margin-bottom: 0;
  }
}

.extra-products__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: v.$desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
  }
}
