@use "../variables.scss" as v;
@use "../mixins.scss" as m;

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__headline-wrapper {
  margin-bottom: 29px;

  @media (min-width: v.$tablet-width) {
    width: 100%;
    margin: 0;
  }
}

.form__headline-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.form__headline {
  @include m.indent-reset;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  width: fit-content;
  max-width: 222px;
  padding: 0 20px;
  display: inline-block;
  background-color: #ffffff;

  @media (min-width: v.$tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 39px;
    max-width: 512px;
  }
}

.form__headline--cat-contacts {
  margin-top: 26px;
  margin-bottom: auto;

  @media (min-width: v.$tablet-width) {
    max-width: 594px;
    margin: 0;
    margin-left: 39px;
    padding: 0 40px;
  }
}

.form__desktop-container {
  @media (min-width: v.$desktop-width) {
    width: 100%;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0 110px;
  }
}

.form__container {
  @media (min-width: v.$tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// .form__container--cat,
// .form__container--radio {
//   @media (min-width: v.$desktop-width) {
//     width: calc(50% - 40px);
//   }
// }
