@use "../variables.scss" as v;
@use "../mixins.scss" as m;

.form-section {
  position: relative;
  display: flex;
  padding: 0 20px 21px;
  flex-direction: column;
  gap: 15px;

  @media (min-width: v.$tablet-width) {
    width: 100%;
    max-width: 630px;
    padding: 0;
    gap: 20px;
  }

  @media (min-width: v.$desktop-width) {
    margin: 0 auto;
    max-width: 1440px;
  }
}

.form-section--radio {
  padding-top: 20px;

  @media (min-width: v.$tablet-width) {
    padding: 25px 28px;
    margin-bottom: 72px;
    gap: 13px;
    border: 1px solid v.$pseudo-color;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 0;
    padding: 24px 28px;
  }
}

.form-section--cat::before,
.form-section--radio::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  bottom: 0;
  left: 0;

  @media (min-width: v.$tablet-width) {
    display: none;
  }
}

.form-section--cat {
  @media (min-width: v.$tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: v.$desktop-width) {
    gap: 20px;
    margin-bottom: 0;
  }
}

.form-section--contacts {
  @media (min-width: v.$tablet-width) {
    padding: 71px 0 65px;
  }

  @media (min-width: v.$desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 78px;
    padding: 72px 111px 68px;
  }
}

.form-section__label {
  position: relative;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 13px;
  width: 100%;
  max-width: 630px;
  color: v.$secondary-text;
  transition-duration: 0.3s;

  @media (min-width: v.$tablet-width) {
    gap: 16px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: v.$desktop-width) {
    width: auto;
    gap: 14px;
  }
}

.form-section__label--email,
.form-section__label--phone {
  @media (min-width: v.$tablet-width) {
    gap: 25px;
  }

  @media (min-width: v.$desktop-width) {
    gap: 21px;
  }
}

.form-section__label--email::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 13px;
  background-color: v.$main-text;
  mask-image: url("../../img/stack.svg#envelope-icon");
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  z-index: 1;
}

.form-section__label--phone::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: v.$main-text;
  mask-image: url("../../img/stack.svg#phone-icon");
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  z-index: 1;
}

.form-section__label--email:focus-within::before,
.form-section__label--phone:focus-within::before {
  background-color: v.$decorate-color;
}

.form-section__label--email-disabled::before,
.form-section__label--phone-disabled::before {
  background-color: v.$error-color;
}

.form-section__input {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  flex-grow: 1;
  width: 60%;
  min-width: 173px;
  min-height: 45px;
  margin: 0;
  padding: 0 20px;
  border: 1px solid #e7e7e7;
  color: v.$secondary-text;
  transition-duration: 0.3s;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  @media (min-width: v.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-height: 52px;
  }
}

.form-section__input--email,
.form-section__input--phone {
  padding-left: 12px;
  padding-right: 43px;

  @media (min-width: v.$tablet-width) {
    padding-left: 18px;
  }
}

.form-section__input--email {
  @media (min-width: v.$desktop-width) {
    width: 485px;
  }
}

.form-section__input--phone {
  @media (min-width: v.$desktop-width) {
    width: 467px;
  }
}

.form-section__input:hover {
  border-color: v.$pseudo-color;
}

.form-section__input:focus {
  border-color: v.$secondary-text;
  outline: 1px solid v.$secondary-text;
}

.form-section__input--error {
  border-color: v.$error-color;
}

.form-section__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 18px;
  color: v.$secondary-text;
  text-transform: uppercase;

  @media (min-width: v.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-section__label--radio {
  position: relative;
  padding-left: 45px;
  min-height: 30px;
  cursor: pointer;

  @media (min-width: v.$tablet-width) {
    min-height: 40px;
    padding-left: 60px;
  }
}

.form-section__label--radio::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 29px;
  border: 1px solid v.$pseudo-color;
  border-radius: 50%;
  top: 0;
  left: 0;

  @media (min-width: v.$tablet-width) {
    width: 39px;
    height: 39px;
  }
}

.form-section__radio:checked + .form-section__label--radio::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: v.$decorate-color;
  border-radius: 50%;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: v.$tablet-width) {
    width: 18px;
    height: 18px;
    left: 11px;
    top: 51%;
  }
}

.form-section__input--textarea {
  width: 100%;
  max-width: 1220px;
  padding: 5px 14px 0;
  resize: none;

  @media (min-width: v.$tablet-width) {
    margin: 76px 0 65px;
    padding-top: 9px;
    height: 174px;
  }

  @media (min-width: v.$desktop-width) {
    margin: 74px auto 65px;
    padding: 10px 19px;
  }
}

.form-section--checkbox {
  min-width: 1220px;
  gap: 13px;
  padding-bottom: 33px;

  @media (min-width: v.$tablet-width) {
    padding: 55px 0 50px;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 123px;
    row-gap: 32px;
  }

  @media (min-width: v.$desktop-width) {
    padding-top: 58px;
    padding-bottom: 60px;
    grid-template-columns: repeat(4, 1fr);
    gap: 78px;
  }
}

.form-section__label--checkbox {
  position: relative;
  padding-left: 45px;
  min-height: 30px;
  cursor: pointer;

  @media (min-width: v.$tablet-width) {
    min-height: 40px;
    padding-left: 61px;
  }
}

.form-section__label--checkbox::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 29px;
  border: 1px solid v.$pseudo-color;
  top: 0;
  left: 0;

  @media (min-width: v.$tablet-width) {
    width: 39px;
    height: 39px;
  }
}

.form-section__checkbox:checked + .form-section__label--checkbox::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  background-color: v.$decorate-color;
  mask-image: url("../../img/stack.svg#check-icon");
  border-radius: 50%;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: v.$tablet-width) {
    width: 28px;
    height: 19px;
  }
}

.form-section__label--radio:hover::before,
.form-section__label--radio:focus::before,
.form-section__label--checkbox:hover::before,
.form-section__label--checkbox:focus::before {
  border-color: #bababa;
}

.form-section__label--radio:disabled::before,
.form-section__label--radio:disabled::after,
.form-section__label--checkbox:disabled::before,
.form-section__label--checkbox:disabled::after {
  opacity: 0.3;
}


.form-section--button {
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
  padding: 0 20px 32px;

  @media (min-width: v.$tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px;
    padding: 0 0 72px;
  }

  @media (min-width: v.$desktop-width) {
    gap: 84px;
    padding: 0 0 84px;
  }
}

.form-section__small-text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: v.$tablet-width) {
    font-size: 16px;
  }
}
