@use "../variables.scss" as v;
@use "../mixins.scss" as m;

.program-card {
  position: relative;
  padding: 20px;
  padding-top: 30px;
  background-color: v.$background-secondary;

  @media (min-width: v.$tablet-width) {
    padding: 77px 62px 57px 52px;
  }

  @media (min-width: v.$desktop-width) {
    width: calc(50% - 40px);
  }
}

.program-card::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: v.$decorate-color;
  top: 23px;
  left: 23px;

  @media (min-width: v.$tablet-width) {
    width: 200px;
    height: 200px;
    top: 92px;
    right: 62px;
    left: auto;
  }

  @media (min-width: v.$desktop-width) {
    width: 100px;
    height: 100px;
    top: 47px;
    right: auto;
    left: 52px;
  }
}

.program-card::after {
  content: "";
  position: absolute;
  background-color: v.$main-text;
}

.program-card--slim::after {
  width: 50px;
  height: 50px;
  mask-image: url("../../img/stack.svg#slim-icon");
  top: 21px;
  left: 23px;

  @media (min-width: v.$tablet-width) {
    width: 140px;
    height: 194px;
    top: 81px;
    right: 92px;
    left: auto;
  }

  @media (min-width: v.$desktop-width) {
    width: 70px;
    height: 97px;
    top: 41px;
    right: auto;
    left: 67px;
  }
}

.program-card--weight::after {
  width: 67px;
  height: 28px;
  mask-image: url("../../img/stack.svg#weight-icon");
  top: 32px;
  left: 13px;

  @media (min-width: v.$tablet-width) {
    width: 268px;
    height: 112px;
    top: 135px;
    right: 28px;
    left: auto;
  }

  @media (min-width: v.$desktop-width) {
    width: 134px;
    height: 56px;
    top: 67px;
    right: auto;
    left: 33px;
  }
}


.program-card__headline {
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 71px;
  margin-bottom: 29px;

  @media (min-width: v.$tablet-width) {
    margin: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: v.$desktop-width) {
    margin-left: 161px;
    margin-bottom: 73px;
  }
}

.program-card__text {
  @include m.indent-reset;
  position: relative;
  font-family: "Lato", "Arial", sans-serif;
  padding-bottom: 22px;

  @media (min-width: v.$tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 340px;
    margin-bottom: 52px;
    padding: 0;
  }

  @media (min-width: v.$desktop-width) {
    max-width: 456px;
    margin-bottom: 0;
  }
}

.program-card__text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  bottom: 0;

  @media (min-width: v.$tablet-width) {
    display: none;
  }
}

.program-card__link {
  @include m.link-reset;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  min-height: 24px;
  margin-top: 15px;
  padding-right: 47px;

  @media (min-width: v.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 53px;
  }

  @media (min-width: v.$tablet-width) {
    margin-top: 27px;
  }

  &:active {
    transition-duration: 0.3s;
    opacity: 0.3;
  }
}

.program-card__link::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 12px;
  mask-image: url("../../img/stack.svg#arrow-short");
  background-color: v.$main-text;
  left: 96px;
  top: 50%;
  bottom: 0;
  transform: translateY(-50%);

  @media (min-width: v.$tablet-width) {
    left: 130px;
  }
}

.program-card__link:focus-visible {
  outline: none;
}

.program-card__link:hover::before,
.program-card__link:focus-visible::before {
  mask-image: url("../../img/stack.svg#arrow-long");
}
