@use "../variables.scss" as v;
@use "../mixins.scss" as m;

.promo-section {
  position: relative;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 27px 0;
  padding-bottom: 20px;
  z-index: 1;

  @media (min-width: v.$tablet-width) {
    padding: 0 30px;
    padding-top: 55px;
  }

  @media (min-width: v.$desktop-width) {
    position: static;
    padding: 106px 110px 0;
  }
}

.promo-section::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(v.$decorate-color, 0.85) 0 60.6%, transparent 60.6% 100%);
  background-repeat: no-repeat;
  z-index: 0;

  @media (min-width: v.$tablet-width) {
    display: none;
  }

  @media (min-width: v.$desktop-width) {
    display: block;
    width: 50%;
    height: 646px;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(v.$decorate-color, 0.85) 0 100%);
  }
}

.promo-section::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 59.6%;
  background-image: url("../../img/index/cat-background-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/index/cat-background-mobile@2x.png");
  }

  @media (min-width: v.$tablet-width) {
    display: none;
  }

  @media (min-width: v.$desktop-width) {
    display: block;
    width: 50%;
    height: 646px;
    top: 0;
    right: 0;
    background-image: url("../../img/index/index-background-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index/index-background-desktop@2x.png");
    }
  }
}

.promo-section__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  @media (min-width: v.$tablet-width) {
    align-items: start;
    min-height: 808px;
  }

  @media (min-width: v.$desktop-width) {
    min-height: 420px;
  }
}

.promo-section__headline {
  @include m.indent-reset;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  max-width: 420px;
  margin-bottom: 25px;
  padding: 0 30px;
  color: v.$background;

  @media (min-width: v.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-left: 88px;
    margin-bottom: 41px;
    padding: 0;
    color: v.$main-text;
  }

  @media (min-width: v.$desktop-width) {
    margin-left: 80px;
  }
}

.promo-section__slogan {
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
  color: v.$background;

  @media (min-width: v.$tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-left: 88px;
    margin-bottom: 50px;
    color: v.$main-text;
  }

  @media (min-width: v.$desktop-width) {
    margin-left: 80px;
  }
}

.promo-section__image {
  @media (min-width: v.$tablet-width) {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  @media (min-width: v.$desktop-width) {
    right: 219px;
    left: auto;
    top: -82px;
  }
}
