@use "../variables.scss" as v;
@use "../mixins.scss" as m;

.section-headline {
  @include m.indent-reset;
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: v.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.section-headline--example {
  @media (min-width: v.$tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 146px;
  }
}

.section-headline--programs {
  @media (min-width: v.$tablet-width) {
    margin-bottom: 0;
  }
}

.section-headline--catalog {
  position: relative;
  line-height: 36px;
  min-height: 104px;
  padding: 20px 27px;
  margin-bottom: 0;

  @media (min-width: v.$tablet-width) {
    padding: 30px 65px;
    min-height: 215px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 78px 110px;
    min-height: 223px;
  }
}

.section-headline--catalog::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  top: 0;
  left: 0;

  @media (min-width: v.$tablet-width) {
    display: none;
  }
}
