html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.page-body {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-body__wrapper {
  margin: 0 auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

*:hover,
*:active,
*:focus,
*:focus-visible {
  transition-duration: 0.3;
}
