@use "./variables.scss" as v;

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin indent-reset {
  margin: 0;
  padding: 0;
}

@mixin link-reset {
  color: v.$main-text;
  text-decoration: none;
}
