$background: #ffffff;
$main-text: #000000;
$secondary-text: #444444;
$mask-color: #666666;
$background-secondary: #f2f2f2;
$section-bg: #eaeaea;
$decorate-color: #68b738;
$pseudo-color: #cdcdcd;
$error-color: #ff8282;
$tablet-width: 768px;
$desktop-width: 1200px;
$max-phone: 767px;
